* {
    box-sizing: border-box;
}

:root {
    --main-bg-color: midnightblue;
    --game-title-font: 'Bungee Spice', sans-serif;
    --sub-titles-color: orange;
    --body-font: 'Orbitron', sans-serif;
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    color: var(--sub-titles-color);
    background-color: var(--main-bg-color);
    font-family: var(--body-font);
}

h2 {
    margin-left: 20px;
    text-align: center;
}

li {
    margin: 20px 0px;
    letter-spacing: 2px;
}

span {
    color: red;
}

.main-flex-container {
    width: 100%;
    height: 100%;
    background: linear-gradient(top,rgba(0,0,0,1), rgba(0,0,0,.4));
    background: -webkit-linear-gradient(top,rgba(0,0,0,1), rgba(0,0,0,.4));
    background: -moz-linear-gradient(top,rgba(0,0,0,1), rgba(0,0,0,.4));
}
.game-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 25px;
    width: 90%;
    height: 100%;
    box-shadow: 3px 3px red, -1em 0 .4em green;
}

#game-console-container {
    width: 80%;
    height: 100%;
    box-shadow: 3px 3px orange, -1em 0 .4em olive;
    justify-content: space-evenly;
}
.stats {
    height: 50%;
    letter-spacing: 2px;
    width: 12em;
}

.flex-column-around {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.margin-lr{
    margin: 0 15px 0 15px;
}
    
.rules-container {
    width: 300px;
    height: 100%;
}

.game-title {
    font-family: var(--game-title-font);
    font-size: 60px;
    letter-spacing: 5px;
    margin-right: 140px;
}

#rule-content {
    display: flex;
    flex-direction: column;
    overflow: auto;
    font-family: var(--sub-titles-font);
    justify-content: center;
}

#hide-button-container {
    margin-bottom: 1em;
}

li{
    font-size: 15px;
}

/* Button Styling */
button {
    top: 50%;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,1);
    border: none;
    border-style: outset;
    font-family: var(--body-font);
    cursor: pointer;
}

#game-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    min-height: 100%;
    gap: 6px;
    justify-content: space-between;
    align-content: start;
}

#start-button{
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    z-index: 5;
    justify-self: center;
    align-self: center;
    padding: 15px;
    background-color: orange; 
    
    font-size: 18px;
    letter-spacing: 5px;
}
.simon-button { 
    padding: 80px;
    width: 200px;
    height: 200px;   
}
.green-button {
    background-color: green;
    grid-column: 1;
    grid-row: 1;
}
.blue-button {
    background-color: blue;
    grid-column: 2;
    grid-row: 1;
}
.red-button {
    background-color: red;
    grid-column: 1;
    grid-row: 2;
}
.yellow-button {
    background-color: yellow;
    grid-column: 2;
    grid-row: 2;
}
.toggle-buttons {
    background-color: orange;
    letter-spacing: 2px;
    width: 80px;
    text-wrap: wrap;
    padding: 5px;
}
#hide-rules{
    letter-spacing: 2px;
    width: 80px;
    text-wrap: wrap;
    padding: 5px;
    background-color: orange;
}
.highlight {
    opacity: 1;
}

.no-highlight {
    opacity: 0.5;
}

.animated {
    animation: buttonAnimation 0.5s alternate infinite;
  }
  
@keyframes buttonAnimation {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-5px);
    }
  }