* {
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
    background-color: yellow;
}

.main-grid-container {
    display: grid;
    grid-template-columns: 10% 70% 10%;
    grid-template-rows: 10% 10% 70% 10%;
    grid-template-areas: 
    ". title title ."
    ". display display ."
    "startmenu game game rules"
    ". highscore highscore .";
    height: 100vh;
    width: 100vw;
    background-color: #a2cbb6; 
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.title-container {
    grid-area: title;
}
.display-messages-container {
    grid-area: display;
    align-self: flex-end;
}
.start-container {
    grid-area: startmenu;
    justify-content: right;
}
.game-container {
    grid-area: game;
    background-color: midnightblue;
    border-radius: 50%;
}
.highScore-container {
    grid-area: highscore;
    align-self: flex-start;
}
.rules-container {
    grid-area: rules;
    justify-content: left;
}

.flex-wrap {
    flex-wrap: wrap;
}

/* Button Styling */
.simon-button { 
    padding: 30px;
    border: 2px dotted black;
    width: auto;
    height: auto;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,1);
}

.green-button {
    background-color: green;
}
.blue-button {
    background-color: blue;
}
.red-button {
    background-color: red;
}
.yellow-button {
    background-color: yellow;
}



